.wxCenterTpwd{
  background-color: white;
  width: 100%;
  border-radius: 3px;
  margin: 15px 0px 5px;
  overflow:hidden
}

.wxCenterTpwd > div {
  border: 1px dashed #F54D23;
  text-align: center;
  height: 50px;
  padding:3px;
  margin: 5px 7px;
}