.topimg{
    margin: 0 auto;
    text-align: center;
}
.wxContent{
    background-color: white;
    width: 100%;
    border-radius: 3px;
    margin: 15px 0px 5px;
    overflow:hidden
}

.content_title{
    text-align: center;
    line-height: 25px;
    height: 30px;
    padding:3px;
    margin: 5px 7px;
    border-bottom: 1px solid black;
}
.wxCenterTpwd{
    background-color: white;
    width: 100%;
    border-radius: 3px;
    margin: 15px 0px 5px;
    overflow:hidden
}

.wxCenterTpwd > div {
    border: 1px dashed #F54D23;
    text-align: center;
    height: 50px;
    padding:3px;
    margin: 5px 7px;
}
.wxFooter{
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0px;
}

.btn-group{
    padding:2px 3px;
    margin: 0 auto;
    width: 100%;
}

.btn-danger{
    width:20px;
    border-radius:20px 0px 0px 20px;
}

.btn-success{
    width:20px;
    border-radius:0px 20px 20px 0px;
}
