.swiper-container {
    background-color: #A9D0FF;
}

.swiper-slide img {
    width: 270px;
    height: 540px;
}

.course_content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagi{
    position: fixed;
    right: 40px;
}

.swiper-title{
    font-weight: bolder;
    position: absolute;
    top:20px;
}